{% include 'header.html' %}

<div class="container my-5">
        <div class="d-flex justify-content-around mb-4">
            <a href="{%  url 'grand_tags' %}" class="btn btn-primary">Для стариков</a>
            <a href="{%  url 'young_tags' %}" class="btn btn-secondary">Для молодых</a>
            <a href="{%  url 'children_tags' %}" class="btn btn-secondary">Для детей</a>
        </div>


        {% for i in hashtags_list %}
        <div class="card" style="width: 18rem; margin: 0 auto;">
            <img src="https://m.media-amazon.com/images/I/A1lv97-jJoL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="Изображение">
            <div class="card-body">
                <h5 class="card-title">{{ i.title }}</h5>
                <p class="card-text">{{ i.priсe }}</p>
            </div>
        </div>
        {% endfor %}

    </div>


{% include 'footer.html' %}