{% include 'header.html' %}



        {% for i in grand %}
        <div class="card" style="width: 18rem; margin: 0 auto;">
            <img src="https://mirknig.eu/image/cache/knigi/zvonok-telefona-v-osennem-lesu-250x250.jpg" class="card-img-top" alt="Изображение">
            <div class="card-body">
                <h5 class="card-title">{{ i.title }}</h5>
                <p class="card-text">{{ i.price }}</p>
            </div>
        </div>
        {% endfor %}

    </div>


{% include 'footer.html' %}